<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>火车票余票查询</title>
    <script type="text/javascript">
        document.write("<link rel='stylesheet' type='text/css' href='/static/css/index.css?v=" + new Date().getTime() + "'>");
    </script>
</head>
<body>
<div class="train-container">
    <h1>火车票余票查询</h1>
    <form action="/index/result/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="start">起点</label>
            <input type="text" id="start" name="start" required>
            <input type="hidden" name="current_user" value="{{ request.session.username }}">
        </div>
        <div class="form-group">
            <label for="end">终点</label>
            <input type="text" id="end" name="end" required>
        </div>
        <div class="form-group">
            <label for="date">日期</label>
            <input type="date" id="date" name="date" class="form-control" required>
        </div>
        <button type="submit" {% if not request.session.username %} disabled {% endif %}>查询</button>
    </form>
    {% if request.session.username %}
        <p id="welcome" class="flex">
            <span>Welcome, <a class="a-1" href="user/"><span id="username">{{ request.session.username }}</span></a></span>
            <a class="a-2" href="{% url 'exit' %}">退出</a>
        </p>
    {% else %}
        <p id="please_login" class="flex">请先登录
            <a class="a-2" href="{% url 'start' %}">登录</a>
        </p>
    {% endif %}
</div>

<script type="text/javascript">
    document.write('<script src="/static/js/DataMin.js?v=' + Math.random() + '"><\/script>');
</script>

</body>
</html>